# Compiled files
*.mex*
*.ptx

# Images
*.png
*.eps
*.jpeg
*.jpg

# Matlab Variables
*.asv
*.mat
!THRESHOLD_ALL_*.mat

# Some directories
**/__pycache__
**/env
**/data

# zip files
*.zip

# Workspaces
*.code-workspace

# Eggs
**/*.egg-info

# Path file
*/clarity_CPC1/scripts/paths.sh

# csv files
*.csv
